<h2>Rechazar oportunidad</h2>

<label for="text" class="label"> Nombre de la oportunidad </label>

<mat-form-field appearance="outline">
  <mat-label>Nombre de la oportunidad</mat-label>
  <input  formControlName="garantia" matInput placeholder="Placeholder">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Motivo</mat-label>
  <input  formControlName="garantia" matInput placeholder="Placeholder">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Observaciones</mat-label>
  <input  formControlName="garantia" matInput placeholder="Placeholder">
</mat-form-field>
