<p>file-upload-component works!</p>

<div class="containerBtn">
  <div class="btn">
    <input (change)="onFileSelect($event)"
    #fileUpload formControlName="folder" type="file"
    class="file-upload" >
  </div>
  <div class="file-upload">
     <button mat-mini-fab color="primary" class="upload-btn" (click)="onFileSelected()">
         <mat-icon>attach_file</mat-icon>
     </button>
 </div>
 </div>

<!--<div div-filtro>

  <form>

<div _ngcontent-ecm-c253="" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
  <mat-form-field _ngcontent-ecm-c253="" appearance="outline" class="mat-form-field example-full-width ng-tns-c93-126 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-standard mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-valid">
    <div class="mat-form-field-wrapper ng-tns-c93-126">
      <div class="mat-form-field-flex ng-tns-c93-126">
        <div class="mat-form-field-prefix ng-tns-c93-126 ng-star-inserted" style="">
          <mat-icon _ngcontent-ecm-c253="" role="img" matprefix="" class="mat-icon notranslate material-icons mat-icon-no-color ng-tns-c93-126" aria-hidden="true" data-mat-icon-type="font">
            people
          </mat-icon>
        </div>
        <div class="mat-form-field-infix ng-tns-c93-126">
          <input _ngcontent-ecm-c253="" matinput="" formcontrolname="razonSocial" maxlength="100" trim="blur" class="mat-input-element mat-form-field-autofill-control ng-tns-c93-126 ng-untouched ng-pristine ng-valid cdk-text-field-autofill-monitored" id="mat-input-26" aria-invalid="false" aria-required="false">
          <span class="mat-form-field-label-wrapper ng-tns-c93-126">
            <label class="mat-form-field-label ng-tns-c93-126 mat-empty mat-form-field-empty ng-star-inserted" id="mat-form-field-label-65" for="mat-input-26" aria-owns="mat-input-26" style="">
              <mat-label _ngcontent-ecm-c253="" class="ng-tns-c93-126 ng-star-inserted">
                Razón Social
              </mat-label>
            </label>
          </span>
        </div>
        <div class="mat-form-field-suffix ng-tns-c93-126 ng-star-inserted" style="">
          <mat-icon _ngcontent-ecm-c253="" role="img" matsuffix="" class="mat-icon notranslate material-icons mat-icon-no-color ng-tns-c93-126" aria-hidden="true" data-mat-icon-type="font">
          </mat-icon>
        </div>
        </div>
        <div class="mat-form-field-underline ng-tns-c93-126 ng-star-inserted" style="">
          <span class="mat-form-field-ripple ng-tns-c93-126">
          </span>
        </div>
        <div class="mat-form-field-subscript-wrapper ng-tns-c93-126">
          <div class="mat-form-field-hint-wrapper ng-tns-c93-126 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
            <div class="mat-form-field-hint-spacer ng-tns-c93-126">
            </div>
          </div>
        </div>
      </div>
    </mat-form-field>
  </div>

  </form>
</div>-->





<!--<mat-grid-tile class="mat-grid-tile">
  <mat-form-field class="mat-grid-content" appearance="outline">
    <mat-label>Cliente</mat-label>
    <mat-select  placeholder="Cliente">
      <mat-option > blba </mat-option>
      <mat-option > blba </mat-option>
      <mat-option > blba </mat-option>
    </mat-select>
  </mat-form-field>
</mat-grid-tile>-->


  <!--<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
    <mat-form-field #selectUsuarioComercial class="example-full-width" appearance="standard">
      <mat-label>Usuario Comercial</mat-label>
      <mat-icon matPrefix>assignment_ind</mat-icon>
      <mat-select formControlName="mtrUsuarioComercial" required>
        <mat-option>--</mat-option>
        <mat-option>
          blba
        </mat-option>
        <mat-option>
          blba
        </mat-option>
        <mat-option>
          blba
        </mat-option>
        <mat-option>
          blba
        </mat-option>
      </mat-select>
      <mat-error>
        Seleccione Usuario Comercial
      </mat-error>
    </mat-form-field>
    <ngx-spinner name="spinnerUsuario" type="ball-fussion" size="medium"></ngx-spinner>
  </div>-->
