.proposal{
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}
.item{
  width: 30%;
  margin: 12px;
}
.subtitle{
  font-weight: bolder;
}

.btns{
  display: flex;
  justify-content: center;
}
