<h3>Datos oportunidad</h3>

<div class="proposal">
  <div class="item">
    <div class="subtitle">Empresa</div>
    <div>{{proposal.company}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Cliente</div>
    <div> {{proposal.customer}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Cliente Referencia</div>
    <div> {{proposal.customerReference}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Tipo de servicio</div>
    <div>{{proposal.typeOfService}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Forma de pago</div>
    <div> {{proposal.wayToPay}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Dias de pago</div>
    <div> {{proposal.wayToPayDays}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Moneda</div>
    <div>{{proposal.currency}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Monto Base</div>
    <div> {{proposal.baseAmount}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Monto total</div>
    <div> {{proposal.totalAmount}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Codigo</div>
    <div> {{proposal.code}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Responsable Comercial</div>
    <div> {{proposal.commercialManager}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Responsable Pre-venta</div>
    <div> {{proposal.presaleManager}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Fech. envio de propuesta</div>
    <div> {{proposal.proposalSubmissionDeadline}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Concepto servicio</div>
    <div>{{proposal.servicioConcept}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Comentarios</div>
    <div>{{proposal.comments}}</div>
  </div>
  <div class="item" *ngIf="showEditorUser">
    <div class="subtitle">Editado por</div>
    <div> {{proposal.editorUser}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Creado por</div>
    <div> {{proposal.creatorUser}}</div>
  </div>
  <div class="item" *ngIf="showRejected">
    <div class="subtitle">Quien la rechazo?</div>
    <div> {{proposal.rejectionUser}}</div>
  </div>
  <div class="item" *ngIf="showRejected">
    <div class="subtitle">Fecha de rechazo</div>
    <div> {{proposal.rejectionDate}}</div>
  </div>
  <div class="item" *ngIf="showRejected">
    <div class="subtitle">Comentarios de rechazo</div>
    <div> {{proposal.rejectionComments}}</div>
  </div>
</div>

<div class="btns">
  <div class="me-4">
    <button type="button" class="btn btn-outline-danger btn-sm action" (click)="seeVersions(proposal)">
      Historico
    </button>
  </div>

  <div class="btnCreate text-end" (click)="export(proposal.folder)">
    <button _ngcontent-cgx-c245="" type="button" class="btn btn-outline-primary
          btn-border-radius d-inline">
          <i class="bi bi-download"></i>
               Archivos
          </button>
  </div>
  <div>
    <button class="btn btn-outline-danger btn-sm action" mat-dialog-close>Cerrar</button>
  </div>
</div>


<!--<div class="btns mt-2">
  <button type="button" class="btn btn-outline-primary btn-sm me-3"
   (click)="openDialogApprove()">Aprobar</button>
  <button type="button" class="btn btn-outline-danger btn-sm me-3"
  (click)="openRecha()">Rechazar</button>
  <section>
    <a href="../../../../docs/yo.jpg"
    download>Descargar archivo de la propuesta</a>
  </section>
</div>-->

