@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

.proposal{
  display: flex;
  flex-wrap: wrap;
  justify-content:center
}
.item{
  width: 30%;
  margin: 12px;
}
.subtitle{
  font-weight: bolder;
}

.btns{
  display: flex;
  justify-content:center
}
