<h2>Datos oportunidad V#3</h2>

<div class="proposal">
  <div class="item">
    <div class="subtitle">Empresa</div>
    <div>{{proposal.empresa}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Tipo de servicio</div>
    <div>{{proposal.tipoDeServicio}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Año</div>
    <div>{{proposal.anio}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Moneda</div>
    <div>{{proposal.moneda}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Cliente Referencia</div>
    <div> {{proposal.clienteReferencia}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Mes</div>
    <div> {{proposal.mes}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Garantia</div>
    <div> {{proposal.garantia}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Monto total</div>
    <div> {{proposal.montoTotal}}</div>
  </div>
  <div class="item">
    <div class="subtitle">Monto Base</div>
    <div> {{proposal.montoBase}}</div>
  </div>
</div>

<div>
  <button mat-button color="primary">Aprobar</button>
  <button mat-stroked-button color="warn">Rechazar</button>
  <button  mat-stroked-button >Descargar</button>
</div>

