.date{
  display: flex;
}

.chooseDate{
  display: flex;
}

.btnAddHito{

}

.date{
  display: inline;
  position:absolute;
  right: 3%;
  bottom: 5%;
  /*bottom: 70%;*/
}

.comments{
  position: relative;
  right: 2%;
}

.btns{
  display:flex;
}