<h2>Aprobar oportunidad</h2>

<label for="text" class="label"> Nombre de la oportunidad </label>
<form action="" [formGroup]="verify">
  <mat-form-field appearance="outline">
    <mat-label>Nombre de la oportunidad</mat-label>
    <input name="nameProposal"
      formControlName="company" matInput placeholder="Placeholder">
  </mat-form-field>
</form>

<div>
  <button mat-raised-button color="primary" type="button" (click)="aprovar()">Aprobar</button>
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
</div>
