<h2>Aprobar oportunidad</h2>

<form action="" [formGroup]="approve">

  <mat-form-field appearance="legacy"  class="" style="height: 10px;">
    <mat-label>Quien aprueba</mat-label>
    <input type="text"
      formControlName="userApproved" matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="legacy" class="mx-3" style="font-size: small;">
    <mat-label>Fecha Aprobacion</mat-label>
    <div class="chooseDate">
        <input matInput [matDatepicker]="picker" formControlName="approvalDate">
      <div>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
  </div>
    <mat-hint>MM/DD/YYYY</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="legacy"  class="col-8">
    <mat-label>Comentarios</mat-label>
    <textarea formControlName="comments"
    matInput placeholder="Ex. It makes me feel...">
    </textarea>
  </mat-form-field>
</form>

<h5 class="mt-4">Agregar hitos</h5>

<ul *ngFor="let hito of hitos">
  <li>{{hito.percentage}} - {{hito.description}} </li>
</ul>

<form action="" [formGroup]="hitoForm">
  <mat-form-field appearance="legacy" class="mx-3">
    <mat-label>Porcentaje</mat-label>
    <textarea type="text" [(ngModel)] = "this.hitoForm.value.percentage"
      formControlName="percentage" matInput placeholder="Placeholder">
  </textarea>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="col-4">
    <mat-label>Descripcion</mat-label>
    <textarea formControlName="description" [(ngModel)] = "this.hitoForm.value.description"
    matInput placeholder="Ex. It makes me feel...">
    </textarea>
  </mat-form-field>

  <div class="mb-4 d-inline">
    <button class="btn btn-outline-primary btn-sm action" type="button" (click)="addHito()">Agregar Hito</button>
  </div>
</form>

<div>
  <button class="btn btn-outline-primary btn-sm action me-4" color="primary" type="button"
  (click)="aprovar()">Aprobar</button>
  <button class="btn btn-outline-danger btn-sm action" mat-dialog-close color="warn">Cancelar</button>
</div>
