<h2>Aprobar oportunidad</h2>

<form action="" [formGroup]="approve">

  <mat-form-field appearance="legacy" class="d-block">
    <mat-label>Quien aprueba</mat-label>
    <input type="text"
      formControlName="userApproved" matInput placeholder="Placeholder">
  </mat-form-field>

  <!--<mat-form-field appearance="legacy">
    <mat-label>Fecha de aprobacion</mat-label>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <input formControlName="approvalDate" matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>-->
  <div class="row form-group">
    <label for="date" class="col-sm-1 col-form-label">Date</label>
    <div class="col-sm-4">
        <div class="input-group date" id="datepicker">
            <input type="text" class="form-control">
            <span class="input-group-append">
                <span class="input-group-text bg-white">
                    <i class="fa fa-calendar"></i>
                </span>
            </span>
        </div>
    </div>
</div>
  
  <mat-form-field appearance="legacy" class="">
    <mat-label>Comentarios</mat-label>
    <textarea formControlName="comments" 
    matInput placeholder="Ex. It makes me feel...">
    </textarea>
  </mat-form-field>
</form>

<div>
  <button mat-raised-button color="primary" type="button" (click)="aprovar()">Aprobar</button>
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
</div>
