
<h4 class="mb-4">Historico de la propuesta</h4>
<table class="table" *ngIf="!noMoreVersions; else elseBlock">
  <tr class="thead">
    <th class="th">Version</th>
    <th class="th">Fecha</th>
    <th class="th">Acciones</th>
  </tr>
  <tr *ngFor="let b of dataSource">
    <td class="td"> {{b.version}} </td>
    <td class="td"> {{b.dateVersion}} </td>
    <td >
      <button type="button"  class="see btn btn-outline-primary btn-sm action" (click)="seeProposal(b)">
        Ver
      </button>
    </td>
  </tr>
</table>
<div class="text-end">
  <button type="button" class="btn btn-outline-danger btn-sm action" mat-dialog-close>Cerrar</button>
</div>
  <ng-template #elseBlock>No hay mas versiones</ng-template>



