
<h2>Hostorico de la propuesta</h2>
<table class="table">
  <tr class="thead">
    <th class="th">Version</th>
    <th class="th">Fecha</th>
    <th class="th">Acciones</th>
  </tr>
  <tr *ngFor="let b of dataSource">
    <td class="td"> {{b.version}} </td>
    <td class="td"> {{b.fechaVersion}} </td>
    <td>
      <button mat-button color="primary" (click)="seeProposal()">
        Ver
      </button>
      <button mat-button color="warn">
        <mat-icon>download</mat-icon>
      </button>
    </td>
  </tr>
</table>

