.table{
  width: 40%;
  margin:20px auto;
}

.table, .th, .td{
  border: 1px solid black;
  border-collapse: collapse;
}
.table{
}
.th, .td{
  /*padding: 5px;*/

}
.thead{
  background-color: #f8f8f8;
  color: #00008b;
}

.action{
  margin: 0 3px 0 3px;
}




