  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
        <img
        width="60"
        alt="Angular Logo"
        src="https://res.cloudinary.com/db3njhxi0/image/upload/v1645825164/ebtcaojolewcrluegnhx.png"
        />
      </a>
      <div class="userName">Usuario 1</div>
    </mat-toolbar-row>
  </mat-toolbar>

