
<mat-grid-list cols="3" rowHeight="10:2" class="mat-grid-list" >
    <mat-grid-tile class="mat-grid-tile">
      <label for="text" class="label"> Cliente </label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="fieldsSelected.cliente">
          <mat-option *ngFor="let b of cliente"  (click)="search()" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">
      <label for="text" class="label"> Cliente Referencia </label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="fieldsSelected.clienteReferencia">
          <mat-option *ngFor="let b of clienteReferencia" (click)="search()" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">
      <label for="text" class="label"> Tipo de servicio </label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="fieldsSelected.tipoDeServicio">
          <mat-option *ngFor="let b of tipoServicio" (click)="search()" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">
      <label for="text" class="label"> Empresa que factura </label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="fieldsSelected.empresa">
          <mat-option *ngFor="let b of empresa" (click)="search()" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">
      <label for="text" class="label"> Año </label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="fieldsSelected.anio">
          <mat-option *ngFor="let b of anio" (click)="search()" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">
      <label for="text" class="label"> Mes </label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="fieldsSelected.mes">
          <mat-option *ngFor="let b of mes" (click)="search()" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">
      <label for="text" class="label"> Moneda </label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="fieldsSelected.moneda">
          <mat-option *ngFor="let b of moneda" (click)="search()" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="mat-grid-tile">
      <label for="text" class="label"> Estado </label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select [(ngModel)]="fieldsSelected.estado">
          <mat-option *ngFor="let b of estado" (click)="search()" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>


