<div class="scroll">

<h4 class="mb-4"> {{action}} oportunidad</h4>

  <form data-bs-spy="scroll" action="" [formGroup]="newProposal">
      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Empresa</mat-label>
        <mat-select formControlName="company" placeholder="Empresa">
          <mat-option [disabled]="disabled" id="companyOption" *ngFor="let b of company" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="customer" placeholder="Cliente">
          <mat-option [disabled]="disabled" id="customer" *ngFor="let b of customer" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Cliente Referencia</mat-label>
        <mat-select formControlName="customerReference" placeholder="Cliente Referencia">
          <mat-option [disabled]="disabled" *ngFor="let b of customer" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Tipo de servicio</mat-label>
        <mat-select  formControlName="typeOfService" placeholder="Tipo de servicio">
          <mat-option *ngFor="let b of typeOfService" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Forma de pago</mat-label>
        <mat-select (selectionChange)="method_page($event.value)" formControlName="wayToPay" placeholder="forma de pago">
          <mat-option value="CONTADO">CONTADO</mat-option>
          <mat-option value="CREDITO">CREDITO</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4" style="margin-right: 60px;">
        <!--col-2-->
        <mat-label>Dias</mat-label>
        <input formControlName="wayToPayDays" type="number" matInput placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Moneda</mat-label>
        <mat-select formControlName="currency" placeholder="Moneda">
          <mat-option value="PEN">PEN</mat-option>
          <mat-option value="USD">USD</mat-option>
          <mat-option value="COP">COP</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Monto base</mat-label>
        <input (ngModelChange)="calcuteTotalAmount()"  type="number"
        formControlName="baseAmount" matInput placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Monto total</mat-label>
        <input type="number" formControlName="totalAmount" matInput placeholder="Placeholder">
      </mat-form-field>

        <mat-form-field *ngIf="showCode" appearance="legacy" class="mx-4">
          <mat-label>Codigo</mat-label>
          <input matInput
           type="text" formControlName="code" matInput placeholder="Placeholder">
        </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Responsable Comercial</mat-label>
        <input type="text" formControlName="commercialManager" matInput placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="mx-4">
        <mat-label>Responsable Pre-venta</mat-label>
        <input type="text" formControlName="presaleManager" matInput placeholder="Placeholder">
      </mat-form-field>

      <mat-form-field appearance="legacy" class="n mx-4">
        <mat-label>Fecha límite de envío</mat-label>
          <div class="m">
            <input matInput [matDatepicker]="picker">
            </div>
            <div>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </div>     
      </mat-form-field>

      <mat-form-field appearance="legacy" class="col-8">
          <mat-label>Concepto de Servicio</mat-label>
          <textarea formControlName="servicioConcept"
          matInput placeholder="Ex. It makes me feel...">
          </textarea>
        </mat-form-field>

        <mat-form-field appearance="legacy" class="col-8">
          <mat-label>Comentarios</mat-label>
          <textarea formControlName="comments"
          matInput placeholder="Ex. It makes me feel...">
          </textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-none">
          <mat-label>Folder</mat-label>
          <input type="number" formControlName="folder" matInput placeholder="Placeholder">
        </mat-form-field>
</form>

<h5>Contacto de la propuesta</h5>
<form action="" [formGroup]="newProposalContact">
        <mat-form-field appearance="legacy" class="mx-4">
          <mat-label>Nombre Completo</mat-label>
          <input type="text" formControlName="fullName" matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="mx-4">
          <mat-label>Correo</mat-label>
          <input type="text" formControlName="email" matInput placeholder="Placeholder">
        </mat-form-field>

        <mat-form-field appearance="legacy" class="mx-4">
          <mat-label>Telefono</mat-label>
          <input type="number" formControlName="phoneNumber" matInput placeholder="Placeholder">
        </mat-form-field>
    </form>

<div class="containerBtn">
  <div class="btn">
    <input (change)="onFileSelect($event)" type="file" multiple
    class="file-upload" >
  </div>
  <div class="file-upload">
     <button mat-mini-fab color="primary" class="upload-btn">
         <mat-icon>attach_file</mat-icon>
     </button>
 </div>
 </div>

<div class="btns">
  <div class="btn">
    <button class="btn btn-outline-primary btn-sm action" color="primary"
    (click)="addProposal()"> {{accionBtn}} </button>
  </div>
  <div class="btn">
    <button class="btn btn-outline-danger btn-sm action"
     mat-dialog-close color="warn">Cancelar</button>
  </div>
</div>

</div>






