
<h1>Crear oportunidad</h1>

<div mat-dialog-content class="mat-dialog-content">

  <mat-form-field appearance="outline">
    <mat-label>Empresa</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cliente</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Cliente Referencia</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Concepto de Servicio</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tipo de servicio</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Año</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mes</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Estado</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Garantia</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Monto base</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Monto total</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Moneda</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>

  <button mat-flat-button color="primary">Cargar archivo</button>

  <button mat-flat-button color="primary">Crear</button>

  <button mat-flat-button color="primary">Cancelar</button>

</div>
