
.mat-form-field{
  margin:5px
}
.form{
  text-align: center;
  scroll-behavior: auto;
}

.scroll{
  scroll-behavior: auto;
}

.mat-grid-list{
  position:inherit;
  background-color: aqua;
}

.containerBtn{
  width: 100%;
  display:flex;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: right;
}

.btn{
  margin: 4px;
  font-size: 18px;
}

.file-input {
  display: none;
}
