
.mat-form-field{
  margin:5px
}
.form{
  text-align: center;
  scroll-behavior: auto;
}

.scroll{
  scroll-behavior: auto;
}

/*.upload-icon{
  right: 20%;
}*/

.mat-grid-list{
  position:inherit;
  background-color: aqua;
}

.containerBtn{
  width: 100%;
  display:flex;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: right;
}

.date{
  display: inline;
  position:absolute;
  right: 0.3%;
  bottom: 5%;
}

.btn{
  margin: 4px;
  font-size: 18px;
}

.file-input {
  display: none;
}
 .n{
  display: flex;
 }

 .cdk-global-overlay-wrapper {
  pointer-events: auto;
  display: block;
  position: relative;
  overflow: auto;
  text-align: center;
}