
<button (click)="buscar()">Buscar</button>
<table>
  <tr>
    <th>Empresa</th>
    <th>Cliente Referencia</th>
    <th>Año</th>
    <th>Mes</th>
    <th>Concepto De Servicio</th>
    <th>Tipo de Sercicio</th>
    <th>Estado</th>
    <th>Garantia</th>
    <th>Moneda</th>
    <th>Monto base</th>
    <th>Monto total</th>
  </tr>
  <tr *ngFor="let b of dataSource | proposalFilter: {'empresa': filtrosObject.empresa,
   'cliente': filtrosObject.cliente, 'mes': filtrosObject.mes,
    'clienteReferencia': filtrosObject.clienteReferencia, 'anio': filtrosObject.anio,
     'tipoDeServicio': filtrosObject.tipoDeServicio,
    'estado': filtrosObject.estado, 'moneda': filtrosObject.moneda }" >
    <td> {{b.empresa}} </td>
    <td> {{b.clienteReferencia}} </td>
    <td > {{b.anio}} </td>
    <td> {{b.mes}} </td>
    <td> {{b.conceptoDeServicio}} </td>
    <td> {{b.tipoDeServicio}} </td>
    <td> {{b.estado}} </td>
    <td> {{b.garantia}} </td>
    <td> {{b.moneda}} </td>
    <td> {{b.montoBase}} </td>
    <td> {{b.montoTotal}} </td>
  </tr>
</table>

