
<button (click)="buscar()">Buscar</button>
<button  mat-raised-button (click)="openDialog('0ms', '0ms')" >Crear oportunidad</button>
<table class="table">
  <tr class="thead">
    <th class="th">Empresa</th>
    <th class="th">Cliente Referencia</th>
    <th class="th">Año</th>
    <th class="th">Mes</th>
    <th class="th">Concepto De Servicio</th>
    <th class="th">Tipo de Sercicio</th>
    <th class="th">Estado</th>
    <th class="th">Garantia</th>
    <th class="th">Moneda</th>
    <th class="th">Monto base</th>
    <th class="th">Monto total</th>
    <th>Action</th>
  </tr>
  <!--<tr *ngFor="let b of dataSource | proposalFilter: {'empresa': filtrosObject.empresa,
   'cliente': filtrosObject.cliente, 'mes': filtrosObject.mes,
    'clienteReferencia': filtrosObject.clienteReferencia, 'anio': filtrosObject.anio,
     'tipoDeServicio': filtrosObject.tipoDeServicio,
    'estado': filtrosObject.estado, 'moneda': filtrosObject.moneda }" >-->
  <tr *ngFor="let b of dataSource">
    <td class="td"> {{b.empresa}} </td>
    <td class="td"> {{b.clienteReferencia}} </td>
    <td class="td"> {{b.anio}} </td>
    <td class="td"> {{b.mes}} </td>
    <td class="td"> {{b.conceptoDeServicio}} </td>
    <td class="td"> {{b.tipoDeServicio}} </td>
    <td class="td"> {{b.estado}} </td>
    <td class="td"> {{b.garantia}} </td>
    <td class="td"> {{b.moneda}} </td>
    <td class="td"> {{b.montoBase}} </td>
    <td class="td"> {{b.montoTotal}} </td>
    <td>
      <button mat-icon-button color="primary" (click)="editProposal(b)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-botton color="primary" (click)="seeVersions()">
        Ver
      </button>
      <!--<button mat-icon-button color="warn" (click)="deleteProposal(b.id)">
        <mat-icon>delete</mat-icon>
      </button>-->
    </td>
  </tr>
</table>

